@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Consumir API catálogo de Produto/Categorias</h3>
    <img src="~/imagens/api-768x500.png" asp-append-version="true">
</div>